{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react"
  ],
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 1
  }
}
